<div class="flex flex-col w-full  gap-2 justify-center items-center px-4">
    <form method="POST" action="{% url 'login' %}" class="flex flex-col w-full justify-center items-center max-w-xl ">
        {% csrf_token %}
        <div class="mb-5 flex w-full">
            <input type="text" name="username" id="username"
                class="bg-gray-50 border-0 text-gray-600 text-sm rounded-lg focus:ring-2 focus:outline-none focus:ring-gray-300  w-full p-2.5  "
                placeholder="Nombre de usuario" required />
        </div>
        <div class="mb-5 flex w-full">
            <input type="password" name="password" id="password"
                class="bg-gray-50 border-0 text-gray-600 text-sm rounded-lg  w-full p-2.5 focus:ring-2 focus:outline-none focus:ring-gray-300 "
                required placeholder="********" />
        </div>
        {% if messages %}
        <div class="flex w-full justify-start items-center py-3 bg-gray-300 px-2  mb-3 rounded-lg">
            {% for message in messages %}
            <div class="text-gray-500">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="flex gap-2 justify-center items-center">
            <button type="submit"
                class="text-white cursor-pointer bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto  px-5 py-2.5 text-center ">
                Ingresar
            </button>
        </div>
    </form>
</div>