{% load static %}
<div class="flex w-full p-2 bg-white my-1 rounded-lg">
    <div class="flex flex-col lg:flex-row w-full justify-between items-center">
        <div class="flex w-full lg:w-auto justify-start p-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="text-gray-700" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 15h-2v-2h2zm0-4h-2V7h2z" />
            </svg>
        </div>

        <div class="flex flex-col w-full justify-start items-start px-3">
            <p class="text-sm font-bold text-gray-700 truncate dark:text-white uppercase">
                {{ notificacion.usuario.get_full_name|default:notificacion.usuario.username }}
            </p>
            <div class="flex flex-col gap-1 text-xs text-gray-500 truncate dark:text-gray-400">
                <div class="flex gap-2 text-xs uppercase text-gray-500">
                    <strong>Mensaje:</strong> {{ notificacion.mensaje|truncatechars:80 }}
                </div>
                <div class="flex gap-2 text-xs text-gray-500">
                    <strong>Fecha:</strong> {{ notificacion.fecha|date:"d/m/Y H:i" }}
                </div>
               
            </div>
        </div>

        <div class="flex gap-3 w-full justify-end items-center">
             <div class="flex w-full justify-center items-center gap-2 text-xs text-gray-500">
                    {% if notificacion.leido %}
                        <span class="bg-green-600 text-white px-2 py-1 rounded-full">Leído</span>
                    {% else %}
                        <span class="bg-yellow-600 text-white px-2 py-1 rounded-full">No leído</span>
                    {% endif %}
                </div>
            <div class="flex flex-col gap-1 px-3 py-2 text-gray-500 w-full text-xs">
                <strong>Registrado:</strong> {{ notificacion.fecha_registro|date:"d/m/Y H:i" }}
            </div>
             {% if user.rol == 'Administrador general' %}
                {% if not notificacion.leido %}
                {% include 'admin/notificaciones/btn_marcar_leido.html' with notificacion=notificacion %}
                {% endif %}
                {% include 'admin/notificaciones/btn_eliminar_registro.html' with notificacion=notificacion %}
            {% endif %}
        </div>
    </div>
</div>
