<button type="button"
    class="text-white flex gap-2 justify-center items-center bg-gradient-to-br my-2 w-full lg:w-auto from-yellow-400 to-orange-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-amber-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="white" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" />
    </svg>
    Registrar</button>