{% load static %}
<div class="flex  w-full p-2 bg-white my-1  rounded-lg ">
    <div class="flex flex-col lg:flex-row w-full justify-between items-center">
        <div class="flex w-full lg:w-auto justify-start p-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="text-gray-500" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12 2a5 5 0 1 1-5 5l.005-.217A5 5 0 0 1 12 2m2 12a5 5 0 0 1 5 5v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-1a5 5 0 0 1 5-5z" />
            </svg>
        </div>
        <div class="flex flex-col w-full justify-start items-start px-3">
            <p class="text-sm font-bold text-gray-700 truncate dark:text-white uppercase">
                {{usuario.first_name}} {{usuario.last_name}}
            </p>
            <p class="flex flex-col gap-1 text-xs text-gray-500 truncate dark:text-gray-400">

            <div class="flex gap-2 text-xs text-gray-500"><strong>USERNAME:</strong>
                {{usuario.username}}</div>
            <div class="flex gap-2 text-xs text-gray-500"><strong>EMAIL:</strong>
                {{usuario.email}}</div>
             <div class="flex gap-2 text-xs text-gray-500"><strong>DEPARTAMENTO:</strong>
                {{usuario.get_departamento_display}}</div>



            </p>
        </div>
        <div class="flex gap-2 w-full justify-between items-center ">


            <div class="flex flex-col lg:flex-row  lg:gap-3 w-full justify-between items-start lg:items-center py-3 ">
                {% if usuario.rol == 'Administrador general' %}
                <div class="flex w-full justify-start items-center mx-3">
                    <div class="flex w-full justify-center gap-2 text-xs bg-teal-700 rounded-full px-3 py-2 font-extrabold text-white">
                        {{ usuario.rol }}
                    </div>
                </div>
                {% elif usuario.rol == 'Jefe de unidad' %}
                <div class="flex w-full justify-start items-center mx-3">
                    <div class="flex w-full justify-center gap-2 text-xs bg-blue-700 rounded-full px-3 py-2 font-extrabold text-white">
                        {{ usuario.rol }}
                    </div>
                </div>
                {% elif usuario.rol == 'Encargado parque motor' %}
                <div class="flex w-full justify-start items-center mx-3">
                    <div class="flex w-full justify-center gap-2 text-xs bg-purple-700 rounded-full px-3 py-2 font-extrabold text-white">
                        {{ usuario.rol }}
                    </div>
                </div>
                {% elif usuario.rol == 'Chofer' %}
                <div class="flex w-full justify-start items-center mx-3">
                    <div class="flex w-full justify-center gap-2 text-xs bg-gray-700 rounded-full px-3 py-2 font-extrabold text-white">
                        {{ usuario.rol }}
                    </div>
                </div>
                {% elif usuario.rol == 'Finanzas' %}
                <div class="flex w-full justify-start items-center mx-3">
                    <div class="flex w-full justify-center gap-2 text-xs bg-amber-700 rounded-full px-3 py-2 font-extrabold text-white">
                        {{ usuario.rol }}
                    </div>
                </div>
                {% endif %}


                <div class="flex flex-col gap-1 px-3 py-2   text-gray-500 w-full" style="font-size: 10px;">
                    <strong class="m-0 p-0">Creado:</strong>
                    {{usuario.fecha_registro}}
                </div>

            </div>
            <div class="flex py-1 h-full justify-end items-end text-base font-semibold text-gray-900 dark:text-white">
                {% if user.rol == 'Administrador general' %}
                {% include 'admin/usuarios/btn_eliminar_registro.html' with usuario=usuario %}
                {% endif %}

            </div>
        </div>

    </div>
</div>