<div class="flex flex-col w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between items-start w-full">
        <div class="flex-col items-center">
            <div class="flex items-center mb-1">
                <div>
                    <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Estado de vehículos</h5>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Distribución de vehículos por
                        estado</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6" id="pie-chart-estado-plan"></div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const data = JSON.parse('{{ chart_data_estado_plan_json|escapejs }}');
        const categorias = data.categorias;
        const porcentajes = data.porcentajes;

        const getChartOptions = () => {
            return {
                series: porcentajes,
                colors: ["#1E90FF", "#FF6347"],  // Colores para los diferentes estados
                chart: {
                    height: 320,
                    type: "pie",
                },
                labels: categorias,
                dataLabels: {
                    enabled: true,
                    formatter(val) {
                        return `${val.toFixed(1)}%`;
                    },
                },
                legend: {
                    position: "bottom",
                },
            };
        };

        const chart = new ApexCharts(document.querySelector("#pie-chart-estado-plan"), getChartOptions());
        chart.render();
    });
</script>